<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompuNation | Home</title>
    <meta name="description" content="Home">
    <meta name="author" content="Santiago Ostrovsky">
    <!--  <meta name="keywords" content="keywords separadas por coma"> -->
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <meta name="theme-color" content="#000000" />
    <!--  <meta name="copyright" content=""> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="">
</head>

<!-- CUERPO DEL DOCUMENTO -->

<body>

    <div class="box">
        <!-- ENCABEZADO -->
        <header>

            <!-- BARRA DE NAVEGACIÓN -->
            <div class="nav">
                <nav id="nav-form-categorias">

                    <!-- FORM CATEGORÍAS -->
                    <div class="nav-item">
                        <a id="form-categorias" href="../backend/views/categorias.html">
                            Alta de Categorías
                        </a>
                    </div>

                    <!-- FORM PRODUCTOS -->
                    <div class="nav-item">
                        <a id="form-categorias" href="../backend/views/productos.html">
                            Alta de Productos
                        </a>
                    </div>

                </nav>
            </div>

        </header>

        <!-- PRINCIPAL -->
        <main>
            <img src="../assets/img/compunation.gif" alt="CompuNation Animated Logo">
            <h1 class="title">HOME</h1>
        </main>

        <!-- PIÉ DE PÁGINA -->
        <footer>
        </footer>

    </div>
</body>

</html>