@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;600;800&display=swap");

* {
  margin: 10px;
  font-family: "Oxanium", cursive, sans-serif;
}

body,
table {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box {
  min-width: 450px;
  width: 60vw;
  margin-top: 20px;
  background-color: #ffff;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

img {
  height: 20vh;
}

#descripcion-producto {
  display: block;
}
