@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;600;800&display=swap");

* {
  margin: 10px;
  font-family: "Oxanium", cursive, sans-serif;
}

body,
table {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box {
  /* min-width: 450px;
  width: 90vw; */
  margin-top: 20px;
  background-color: #ffff;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.img {
  /* display: flex;
  align-items: center; */
  /* margin: auto; */
  position: absolute;
  margin-left: 700px;
}

img {
  height: 20vh;
  display: block;
  align-items: center;
}

#descripcion-producto {
  display: block;
}

.FlexContainer {
  display: inline-block;
  margin-top: 250px;
  /* flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 65%;
  height: 80vh;
  overflow: auto;
  flex-direction: row; */
}

.FlexContainer div {
  width: 250px;
  height: 350px;
  justify-content: center;
  justify-self: center;
  text-align: center;
  /* margin: 10px; */
  /* background-color: #aaa; */
  overflow: hidden;
}
