@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;600;800&display=swap");

* {
  margin: 10px;
  font-family: "Oxanium", cursive, sans-serif;
}

body,
table {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box {
  min-width: 450px;
  width: 90vw;
  margin-top: 20px;
  background-color: #ffff;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

img {
  height: 20vh;
}

#descripcion-producto {
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(5) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
